@font-face {
    font-family:'PixelMplus10' ;
    src: url(../PixelMplus-20130602/PixelMplus10-Regular.ttf);
}

canvas {
    background-color: black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:600px;
    font-family: 'PixelMplus10';
}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'PixelMplus10';
    color:white;
    background-image:url("宇宙-1.jpg");
    background-size: cover;
    height : 100%;
    display:flex;
    
}
#setumei{
    padding-top:57px;
    padding-left:20px;
    padding-right: 70px;
    margin-right: 50px;
    /*border: solid 1px red;*/
    
}
#main{
    width:50%;
    /*border: solid 1px red;*/
}
